body {
	background-color:#1F1F1F;
	background: -webkit-gradient(linear, left center, right center, from(#1F1F1F), color-stop(50%, #2F2F2F), to(#1F1F1F)); /* for webkit browsers */
	-webkit-text-size-adjust: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color:#B0B0B0;
	margin: 0px;
	padding: 0px;
}

@media (min-width:1000px) {
	body {
		background-image: url(/res/orcawarp_compressed.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
	}
}

/* #left #right in <div style="display: table"> */
#left {
	width:50%;
	display: table-cell;
	padding: 5px;
}

#right {
	width:50%;
	display: table-cell;
	padding: 5px;
}

@media (max-width:470px) {
	#left {
		width: 100%;
		display: table-row;
	}

	#right {
		width: 100%;
		display: table-row;
	}
}

.bgimg{
	-webkit-transition: -webkit-filter 0.5s ease;
	transition: -webkit-filter 0.5s ease;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}
.bgimg:hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
}

a:hover, input:hover, select:hover, button:hover, a:focus, input:focus, select:focus, button:focus {
	-webkit-filter: drop-shadow(0px 0px 5px #FFB000);
	filter: drop-shadow(0px 0px 5px #FFB000);
}

h1, h2, h3, h4, h5, h6, strong, #pageselection > .title {
/*
 * 	color:#5591DF;
 */
	color:#FFB000;
	text-decoration:none;
}

h1.img, h2.img, h3.img, h4.img, h5.img, h6.img {
	background-repeat: no-repeat;
	background-position: 5px center;
}

img {
	margin: 2px;
	vertical-align: middle;
}

.highlight{
	background-color:#4F4F4F;
}

div.table {
	display: table;
}

div.row {
	display: table-row;
}

div.headrow {
	display: table-row;
	text-align: center;
	font-weight: bold;
}

.cell {
	display: table-cell;
	padding: 1px;
}

div.table.vmiddle .cell {
	vertical-align: middle;
}

div.table, .cell {
	border-spacing: 0px;
	border-collapse: collapse;
}

div.table.bordered .cell, .border {
	border: 1px solid gray;
}

.borderleft {
	border-left: 1px solid gray;
}

.table.border, div.headrow {
	border: 2px solid gray;
}

.bestvalue{
	color: lightgreen;
	font-weight: bold;
}

.worstvalue{
	color: red;
}

div.table.hoverrow div.row {
	-webkit-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

div.table.hoverrow div.row:hover {
	background-color: #3F3F3F;
}

div.table.hoverrow div.row.highlight:hover{
	background-color:#5F5F5F;
}

input, select, button{
	-webkit-transition: -webkit-filter 0.5s ease, border 0.5s ease, color 0.5s ease;
	transition: -webkit-filter 0.5s ease, border 0.5s ease, color 0.5s ease;
	background-color: #2F2F2F;
	border: 1px solid gray;
	border-radius: 4px;
	color: #B0B0B0;
	margin: 1px;
	padding: 1px 2px;
	min-height: 1.25em;
	min-width: 1.25em;
}

select {
	-webkit-appearance: listbox;
}

input[type=checkbox] {
	-webkit-appearance: button;
}

input[type=checkbox]:checked {
	background-color: #9F9F9F;
}

input[type=checkbox]:hover, input[type=checkbox]:focus {
	border: 2px solid #FFB000;
}

input:focus, select:focus, button:focus, input:hover, select:hover, button:hover {
	border: 1px solid #FFB000;
	color: #FFB000;
}

a, .igbinfo, .igbmore {
	-webkit-transition: -webkit-filter 0.5s ease;
	transition: -webkit-filter 0.5s ease;
}

a {
	color:#FFB000;
}

a.external {
	color: #5591DF;
	background-image: url(/res/ext-icon.png);
	background-repeat: no-repeat;
	background-position: 100%;
	padding-right: 16px;
}

a.external:hover, a.external:focus {
	-webkit-filter: drop-shadow(0px 0px 5px #5591DF);
	filter: drop-shadow(0px 0px 5px #5591DF);
}

.igbinfo {
	background-image: url(/res/show_info_16.png);
	background-repeat: no-repeat;
	background-position: 100%;
	padding-right: 16px;
	cursor: pointer;
	display: inline;
}

.igbmore {
	background-image: url(/res/more_info_16.png);
	background-repeat: no-repeat;
	background-position: 100%;
	padding-right: 16px;
	cursor: pointer;
	display: inline;
}

.igbinfo:hover, .igbmore:hover {
	-webkit-filter: drop-shadow(0px 0px 5px white);
	filter: drop-shadow(0px 0px 5px white);
}

*:hover > .hoverpricecontainer {
	display: block;
}

.hoverpricecontainer {
	display: none;
	position: absolute;
	background-color: rgba(0,0,0, 0.8);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0, 0.8);
	padding: 15px;
	margin-left: 100px;
	text-align: left;
	font-weight: normal;
	color: #B0B0B0;
}

.iteminfo {
	background-repeat: no-repeat;
	background-position: 5px center;
	background-size: 64px 64px;
	padding-left: 70px;
	min-height: 64px;
}

#pageselection {
	position: fixed;
	display: table;
	width: 100%;
	height: 64px;
	top: 0px;
	background-color: rgba(0,0,0,0.8);
}

#pageselection > * {
	display: table-cell;
	padding: 0px 10px;
	color: #B0B0B0;
	white-space: pre;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
}

#pageselection > .img {
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 40px;
}

#pageselection > a {
	-webkit-transition: -webkit-filter 0.5s ease, background-color 0.5s ease, color 0.5s ease;
	transition: -webkit-filter 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

#pageselection > a:hover {
	background-color: #FFB000;
	color: black;
}

#pageselection > .singlespacer {
	width: 100%;
}

#pageselection > .doublespacer {
	width: 50%;
}

#pageselection > .title {
	background-repeat: no-repeat;
	background-position: 5px center;
	font-size: 1.5em;
	font-weight: bold;
}

#content {
	padding: 15px;
	height: 100%;
}

@media (min-width:1000px) {
	#content {
		padding-top: 80px;
		width: 900px;
		margin: auto;
		background-color: rgba(10,10,10, 0.6);
		box-shadow: 0px 0px 5px 5px rgba(10,10,10, 0.6);
	}
	.smallonly, #pageselection > .smallonly { display: none; }
}
@media (max-width:999px) { .wideonly, #pageselection > .wideonly { display: none; } }
@media (min-width:1300px) { #content { width: 1200px; } }
@media (min-width:1700px) { #content { width: 1600px; } }

#footer {
	padding-top: 30px;
}

#footer #footerleft {
	text-align: left;
	width: 50%;
}

#footer #footerright {
	float: right;
	text-align: right;
	width: 50%;
}
